// Turquoise Blue
$color-alpha: #57E6BB !default;
// Mountain Meadow
$color-beta: #14A57A !default;
// Hippie Green
$color-gamma: #4D764E !default;
// Christi
$color-delta: #64AE11 !default;
// Atlantis
$color-epsilon: #9DD72A !default;
// Sulu
$color-zeta: #C1EE5F !default;

$color-selected: #6D966E !default;

.transparent-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button-discreet {
    @extend .transparent-button;
    font-size: 12px;
}

.button-top {
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 24px;
    border-radius:6px;
    padding: 5px;
    color: $color-zeta;
}

.button-navigation {
    @extend .button-top;
    background-color: $color-delta;
}

.button-selected {
    @extend .button-top;
    background-color: $color-epsilon;
}

.button-navigation:hover, .button-selected:hover {
    background-color: $color-epsilon;
}

.button-gender {
    @extend .transparent-button;
    font-size: 50px;
    padding: 6px 16px;
    color: $color-zeta;
}

.button-gender:hover {
    color: white;
}

.button-start {
    @extend .button-top;
    color: $color-gamma;
    background-color: $color-alpha;
    font-size: 32px;
}
