@import "colors.scss";

$page-padding-left: 10%;
$page-padding-right: 10%;
$footer-bar-height: 100px;
$event-icon-size: 42px;

@import "default.scss";
@import "animations.scss";
@import "navigation.scss";
@import "statistics.scss";
@import "parser.scss";
@import "home.scss";
@import "../css/ionicons.css";

@font-face {
    font-family: 'DIN145136breit';
    src: url('fonts/DIN145136breit.eot');
    src: url('fonts/DIN145136breit.eot') format('embedded-opentype'), url('fonts/DIN145136breit.woff2') format('woff2'), url('fonts/DIN145136breit.woff') format('woff'), url('fonts/DIN145136breit.ttf') format('truetype'), url('fonts/DIN145136breit.svg#DIN145136breit') format('svg');
}

@font-face {
    font-family: 'futurablack';
    src: url('fonts/futura_black-webfont.eot');
    src: url('fonts/futura_black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futura_black-webfont.woff2') format('woff2'), url('fonts/futura_black-webfont.woff') format('woff'), url('fonts/futura_black-webfont.ttf') format('truetype'), url('fonts/futura_black-webfont.svg#futurablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

#container {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

#header {
    padding: 3% $page-padding-right 1% $page-padding-left;
}

#content {   
    padding: 1% $page-padding-right 1% $page-padding-left;    
}

#footer {
    width: 100%;  
    font-size: 10px;
    padding: 3% $page-padding-right 1% $page-padding-left;
}

.bordered {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

.transparent-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/*
    DROP-DOWN
*/
.drop-down {
    @extend .bordered;
    width: 100%;    
    margin: 10px;
}

.drop-down-head {
    position: relative;
    width: 100%;
    height: 52px;
}

.drop-down-head-content {    
    font-weight: 600;
    position: absolute;
    top: 0px;
    padding-left: 20px;    
    padding-right: 20px;
}

.drop-down-title {
    @extend .drop-down-head-content;    
    font-size: 26px;
    left: 0px;
    padding-top: 10px;
}

.drop-down-toggle {
    @extend .drop-down-head-content;
    font-size: 36px;
    right: 0px;
    padding-top: 5px;
}

.selection-border {
    border: 2px solid;
}

.selected {
    color: white;
    background-color: black;
    padding: 4px 14px;
    border-radius: 30px;
}

.icon {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.event-icon {
    width: $event-icon-size;
    height: $event-icon-size;
}

.small-icon {
    width: $event-icon-size / 2;
    height: $event-icon-size / 2;
}

.castorama-font, .castorama-font-small {
    font-family: "futurablack";
}

.castorama-font {
    font-size: 60px;
}

.castorama-font-small {
    font-size: 20px;
}

.number-display {
    font-family: "DIN145136breit";
    font-size: 28px;
}

.event-display {
    float: right;
    margin-right: 20%;
}

.icon-small {
    width: 30px;
    height: 30px;
}


.admin-title {
    margin: auto;
    width: 80%;
    height: 40px;
    padding: 5px;
}

.login-content {
    padding-right: 20%;
    width: 400px;
    height: 200px;
}

.highlighted-text {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.button-discreet {
    @extend .transparent-button;
    font-size: 12px;
}

.button-top {   
    float: left; 
    font-size: 24px;
    border-radius:6px;
    padding: 5px;
}