$color-beta-back: #2C64FF !default; // Dodger Blue
$color-beta-front: #FFB312 !default; // Sun
$color-alpha-back: #702AFF !default; // Electric Violet
$color-alpha-front: #FFDF12 !default; // Candlelight

$color-turquoise-blue: #57E6BB !default;
$color-mountain-meadow: #14A57A !default;
$color-hippie-green: #4D764E !default;
$color-christi: #64AE11 !default;
$color-atlantis: #9DD72A !default;
$color-Sulu: #C1EE5F !default;
$color-dodger-blue: #2C64FF !default;
$color-sub: #FFB312 !default;
$color-electric-violet: #702AFF !default;
$color-candlelight: #FFDF12 !default;
