@import "colors.scss";

body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

h1 {
    border-radius: 5px;
    padding: 5px;
}

h2 {
    border-radius: 4px;
    padding: 4px;
}

img {
    border: 0px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="submit"], input[type="date"] {
    display: block;
    margin: auto;
    width: 90%;
    height: 40px;
    font-size: 28px;
    padding: 5px;
    appearance: none;
    box-shadow: none;
    border-radius: 10px;
}

select {
    outline: none;
    display: block;
    height: 36px;
    font-size: 24px;
    padding: 5px;
    border-radius: 10px;
}
