@import "colors.scss";

.score-gender {
    position: relative;
    margin-left: 10%;
    width: 10%;
    height: 100px;
}

.score-button {
    @extend .transparent-button;
    font-size: 50px;
    padding: 6px 16px;
}

.score-man {
    @extend .score-button;
    float: left;
}

.score-woman {
    @extend .score-button;
    float: right;
}

.score-man:hover, .score-woman:hover {
    color: rgb(128,128,128);
}

.score-output {
    margin-left: 20%;
    margin-top: 1%;
    font-family: "DIN145136breit";
    font-size: 128px;
}

td.event {
    width: 10%;
}

td.result {
    width: 10%;
}

td.score {
    width: 90%;
    margin: auto;
}
