.stats-search {
    width: 50%;
}

.stats-table {
    width: 100%;
}

.stats-alt {
    position: relative;
    overflow: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10%;
    width: 33%;
    float: left;
}

.stats-alt-icon {
    padding-left: 1%;
    font-size: 48px;
    float: left;
}

.stats-alt-radio {
    padding-left: 1%;
    font-size: 24px;
}

.stats-alt span {
    //float: left;
    width: 10%;
}

.stats-alt-dates {
    position: relative;
    width: 15%;
}

.stats-button {    
    border-radius:6px;
    padding: 5px;
    margin-top: 2%;
    margin-left: 1%;
    float: right;
}

.stats-load {  
    margin-left: -64px;
    font-size: 128px;
    height: 128px;
    left: 50%;
}

.stats-header-number, .stats-number {
    text-align: right;
}

.stats-number {  
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}

.stats-alt-button {
    @extend .transparent-button;
    font-size: 20px;
    //float: right;
    padding: 4px 14px;
}

.stats-alt-button:hover {
    color: rgb(128,128,128);
}

.stats-result {
    min-height: 300px;
}