

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table tr {
    border: solid rgba(0, 0, 0, 0.25);
    border-width: 1px 0;
}
.stats-table tr:first-child, .stats-table tr:last-child {
    border: none;
}

.stats-table tr td, .stats-table tr th {
    padding-left: 5px;
    padding-right: 5px;
}

.stats-table tr td:first-child, .stats-table tr th:first-child {
    width: 35%;
}

.stats-table tr th:not(:first-child) {
    width: 13%;
}

.stats-table tr td:not(:first-child) {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 32px;
    width: 13%;
}

.stats-table tr .col-selected {
    background-color: rgba(0,0,0,0.0625);    
}

.stats-table tr th.col-selected {
    border-radius: 10px 10px 0 0;    
}

.stats-alt {
    position: relative;
    overflow: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10%;
    width: 33%;
    float: left;
}

.stats-button {    
    border-radius:6px;
    padding: 5px;
    margin-top: 2%;
    margin-left: 1%;
    float: right;
}

.stats-alt-button {
    @extend .transparent-button;
    font-size: 24px;
    padding: 4px 14px;
}

.stats-alt-button:hover {
    color: rgb(128,128,128);
}

.stats-load {  
    margin-left: -64px;
    font-size: 128px;
    height: 128px;
    left: 50%;
}

.stats-date-location {
    font-size: 18px;
}

.stats-name-club {
    font-size: 22px;
}