@font-face {
    font-family: 'futurablack';
    src: url('fonts/futura_black-webfont.eot');
    src: url('fonts/futura_black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futura_black-webfont.woff2') format('woff2'), url('fonts/futura_black-webfont.woff') format('woff'), url('fonts/futura_black-webfont.ttf') format('truetype'), url('fonts/futura_black-webfont.svg#futurablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
    border: 0px;
}

button {
    font-size: 50px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:active {
    color: rgb(0, 148, 255);
}

.button-small {
    font-size: 12px;
}

button .selected {
    color: blue;
}

.icon {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.small-icon {
    width: 16px;
    height: 16px;
}

.admin-background {
    background-color: aliceblue;
    padding: 10px;
}

#topbar {
    margin-bottom: 10px;
}

#bottombar {    
    font-size: 11px;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 5px;
}

.castorama-font {
    font-family: "futurablack";
    font-size: 60px;
}
